<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Materials and Nano Physics</h1>
            <span>University of Helsinki</span>
            <span><address>Helsinki, Finland</address><time>2014 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Lignocellulose fibers elaborating super-swollen three-dimensional cellulose hydrogels from solution in N,N-dimethylacetamide/lithium chloride.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Science Physics</h1>
            <span>Shahjalal University of Science and Technology</span>
            <span><address>Sylhet, Bangladesh</address><time>2009 to 2013</time></span>
        </header>
        <p>
            <em>Dissertation: X-ray study of hybrid bionanocomposites of powder cellulose and hydrogels with silver nanoparticles.</em>
        </p>
    </article>
</section>
